$blue         : #095380;
$pale-blue    : #8bb5bb;
$gold         : #b9a884;
$ecru         : #e6e4dd;
$red          : #e02d3b;

$texture      : url(../images/texture200.png);
$texture-font : url(../images/texture_font2.png);