// Hide the toolbar or admin menu on small screens.
@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}

// Override some obnoxious Orion styling.
.not-front .l-content,
.not-front .l-region--sidebar .block {
  background-color: transparent;
}

/* Clearfix hack */
.group:after {
  content: "";
  display: table;
  clear: both;
}
