.view-cod-community-attendees {
  font-size: .8em;
  ul {
    padding: 0;
    margin-top: 30px;
    li.views-row {
      list-style: none;
      float: left;
      padding: 10px;
      margin: 0 10px 10px 0;
      width: 120px;
      height: 170px;
    }
    li.views-row.Organizer {
      background: $texture rgba( $gold, 0.5 );
    }
  }
  .views-field-picture {
    width: 100px;
    height: 100px;
    background: url('../img/gold_star.svg') $green;
    position: relative;
    margin-bottom: 4px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $texture;
    }
    img {
      position: relative;
      z-index: 2;
      width: 100%;
      height: auto;
    }
  }
  .Organizer.views-field-picture {
    background: url('../img/gold_star.svg') $red;
  }
  .views-field-field-profile-first,
  .views-field-field-profile-last {
    display: inline;
    font-family: $serif;
    color: $green;
    div { display: inline; }
  }
  .views-field-field-profile-first a:link,
  .views-field-field-profile-last a:link,
  .views-field-field-profile-first a:visited,
  .views-field-field-profile-last a:visited {
    color: $green;
  }
  .views-field-field-profile-first a:hover,
  .views-field-field-profile-last a:hover {
    text-decoration: none;
    opacity: 0.5;
  }
  .views-field-flagged a:link,
  .views-field-flagged a:visited {
    color: $dark-gray;
    font-family: $sans-serif;
    font-style: italic;
  }
  .views-field-flagged a:hover {
    text-decoration: none;
    opacity: 0.5;
  }


}

@include breakpoint($tab, true) {
  .view-cod-community-attendees {
    font-size: 1em;
    ul li.views-row { width: 180px; height: 240px; }
    .views-field-picture { width: 160px; height: 160px; }
  }
}
