/* @file
 * COD schedules
 */

.view-cod-session-schedule, 
.view-cod-bof-schedule,
.view-cod-schedule {
  ul.quicktabs-tabs.quicktabs-style-zen {
    li {
      border-radius: 0;
      background: none;
      padding: 0;
      margin-bottom: 1em;
      a {
        @extend a.button.btn-big;
        background-color: $green;
        background-image: $texture;
        font-family: $serif;
      }
    }
    li.active {
      background: none;
      margin-left: 0;
      a, a:hover, a:focus, a.active:hover {
        @extend a.button.btn-big;
        color: #fff;
        position: relative;
        background-color: $orange;
        background-image: $texture;
      }
    }
  }
  .quicktabs-views-group {
    position: relative;  // Added
    @include clearfix; // Added
    border-top: 3px solid $green;
    //border-bottom: 3px solid #00f;    //background: none; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($green, $green 3em, rgba(255,255,255,0) 3em, rgba(255,255,255,0) 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($green, $green 3em, rgba(255,255,255,0) 3em, rgba(255,255,255,0) 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($green, $green 3em, rgba(255,255,255,0) 3em, rgba(255,255,255,0) 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient($green, $green 3em, rgba(255,255,255,0) 3em, rgba(255,255,255,0) 100%); /* Standard syntax */
  }

  // This styles the day of the week
  .views-field-field-slot-datetime-1,
  .views-field-field-evttime-date-1 {
    border-radius: 0;
    padding: 0.5em 0.25em 0.5em 0.5em; // Added
    display: inline-block; // Added Test, cuts background bar to width of text.
    text-align: left;
    width: 160px; // Added
    font-size: 1.2em;
    font-family: $serif;
    background-color: none; // Added
    background: none; // Added to override default styling
    color: rgba(255,255,255,0.7); // Final
  }
  // This styles the times
  .views-field-field-slot-datetime-2,
  .views-field-field-evttime-date-2 {
    display: inline-block; // Added
    font-size: 1.2em;
    font-weight: 400;
    width: 200px; // Original 
    color: #fff;
    background-color: $green;  // Added
    background-color: none; // Added
    padding: 0.5em 0.25em 0.5em 0.25em; // Added
  }
  .view-cod-schedule-content .views-row,
  .view-dgc-my-schedule-content .views-row {
    position: relative; // Original
    @include clearfix;
    @include breakpoint($desk) {
      //padding: 20px 0 20px 180px; // Original
      //min-height: 140px; // Original
    }
  }
  [class*="track-icon-"] {
    display: block;
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
    width: 2em;
    height: 2em;
    color: rgba( $green, 1);
    background-size: 100%; // Gets overridden--see below
    background-position: 0% 0%; 
    text-indent: -9999px; // Hides Text
    white-space: nowrap; // Hides Text
    overflow: hidden; // Hides Text
    @include breakpoint($desk) {

    }
  }
  .track-icon-6 { background: url(/sites/all/themes/custom/govcon_2016/img/gc-trackicon-frontend.svg) no-repeat; background-size: 100%;} // Added
  .track-icon-11 { color: rgba( $green, 1); background: url(/sites/all/themes/custom/govcon_2016/img/gc-trackicon-code.svg) no-repeat; background-size: 100%;} // Added
  .track-icon-21 { color: rgba( $green, 1); background: url(/sites/all/themes/custom/govcon_2016/img/gc-trackicon-business.svg) no-repeat; background-size: 100%;} // Added
  .track-icon-26 { color: rgba( $green, 1); background: url(/sites/all/themes/custom/govcon_2016/img/gc-trackicon-sitebuilding.svg) no-repeat; background-size: 100%;} // Added
  .track-icon-16 { color: rgba( $green, 1); background: url(/sites/all/themes/custom/govcon_2016/img/gc-trackicon-keynote.svg) no-repeat; background-size: 100%;} // Added
  .track-icon-1 { color: rgba( $green, 1); background: url(/sites/all/themes/custom/govcon_2016/img/gc-trackicon-training.svg) no-repeat; background-size: 100%;} // Added

  .views-field-title {
    margin-bottom: 0.25em;
    @include breakpoint($desk) {
      //margin-top: 16px;  // Original
    }
  }



  // This displays the location
  .views-field-name {
    padding-left: 0;
    margin-right: 20px;
    margin-bottom: 0;
    clear: both;  // Original
  }
  .views-field-field-experience {
    font-family: $serif;
    color: #666;
    @include breakpoint($desk) {

    }
  }
  .views-field-field-speakers {

  }
  .views-field-count, .views-field-ops {
 
    a {
      @extend .button;
      &.unflag-action {
        background: $red;
        &:hover {
          background: #fff;
        }
      }
    }
  }
}

// Override Base COD Styling
.view-cod-session-schedule .views-field-room, .view-cod-session-schedule .views-field-name,
.view-cod-session-schedule .views-field-field-speakers, .view-cod-session-schedule .views-field-field-session-track,
.view-cod-bof-schedule .views-field-room, .view-cod-bof-schedule .views-field-name,
.view-cod-bof-schedule .views-field-field-speakers, .view-cod-bof-schedule .views-field-field-session-track,
.view-cod-schedule .views-field-room, .view-cod-schedule .views-field-name,
.view-cod-schedule .views-field-field-speakers, .view-cod-schedule .views-field-field-session-track {
    float: none;
    height: inherit;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
}

  // Added to style title
  .view-cod-schedule .views-field-title {
    font-size: 1.6em;
  }

  .view-cod-schedule .views-field-name {
    //display: inline-block;
  }


  .view-cod-schedule-content .views-field.views-field-count,
  .view-cod-schedule-content .views-field.views-field-field-experience,
  .view-cod-schedule-content .views-field.views-field-ops {
    display: inline-block;
    float: left;
    margin-right: 0.5em;
    padding-bottom: 0.5em;
  }




/* hide extraneous exposed filters on each timeslot view */
form#views-exposed-form-cod-schedule-content-default {
  display: none;
}
/* fake tabs for my schedule and bof schedule */

/* hide active button */
.page-node-schedule,
.page-node-bofs {
  h1 {
    margin-bottom: 0;
  }
  .pane-custom.pane-1 {
    a.button.btn-big {
      background: $green;
      color: rgba(255,255,255,1);
      margin-bottom: 4px;
      display: inline-block;
      padding: 0.25em;
      white-space: no-wrap;
      &:hover, &:focus, &:active { background: $orange; text-decoration: none; }
    }
    a.button.btn-big[href=""] {
      background: $red;
      &:hover, &:focus, &:active { color: #fff; }
    }
  }
}
